.valido{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #28a745;
  }
.invalido{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }
.sub-login{
    font-size: 120%;
    color: #2F0DFF ;
    font-weight: bold;
    font-style: italic
}
.fondo{
    background-image: url("image/back-480.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover
}@media (min-width: 480px) {
    .fondo {
        background-image: url("image/back-480.png");        
    }
}
@media (min-width: 768px) {
    .fondo {
        background-image: url("image/back768.png");
    }
}
@media (min-width: 1200px) {
    .fondo {
        background-image: url("image/back-1200.jpg");
    }
}
.fondoLogin{
    background-color:lavender;
    opacity: .8;
    border: black solid .8;
    border-radius: 12px;
}
.opacity10{
    opacity: 0.10
}
.opacity20{
    opacity: 0.20
}
.opacity30{
    opacity: 0.30
}
.opacity40{
    opacity: 0.40
}
.opacity50{
    opacity: 0.50
}
.opacity60{
    opacity: 0.60
}
.opacity70{
    opacity: 0.70
}
.opacity80{
    opacity: 0.80
}
.opacity90{
    opacity: 0.90
}
.cuadroPublicacion{    
    width: 470px;
    border: seagreen solid 5px;
    border-radius: 5px
}
.cuadroRegistro{
    background-color: cadetblue;
    opacity : .8;
    border : blue solid 1px;
    border-radius: 5px;
}
.sub-registro{
    font-size: 130%;
    color: #2F0DFF ;
    font-weight: bold;
    font-style: italic
}
.invalidoRegistro{
    width: 100% ;
    margin-top: 0.25rem;
    font-size: 14px;
    font-weight: bold;
    color: #dc3545;
  }
  div.mainTitulo{
      font-size: 36px;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      font-style: italic;
      text-align: center;
  }
  .cuadroPie{
    background-color:black;
    opacity: .7;
    border: black solid .8;
    border-radius: 12px;
    color: white;
    text-align: center
  }